nifi/templates/kafka_to_elasticsearch.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>9ea8e40d-018e-1000-981e-0582ce2b88cf</groupId>
    <name>kafka_to_elasticsearch</name>
    <snippet>
        <connections>
            <id>4b72dcca-dd8e-36cf-0000-000000000000</id>
            <parentGroupId>ae981bf6-1b66-35c1-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ae981bf6-1b66-35c1-0000-000000000000</groupId>
                <id>a43cfebb-2fee-3fb8-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>ae981bf6-1b66-35c1-0000-000000000000</groupId>
                <id>84409dd1-0859-357f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>7cef9051-d1ae-30b6-0000-000000000000</id>
            <parentGroupId>ae981bf6-1b66-35c1-0000-000000000000</parentGroupId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-elasticsearch-client-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.25.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>el-cs-http-hosts</key>
                    <value>
                        <name>el-cs-http-hosts</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-path-prefix</key>
                    <value>
                        <name>el-cs-path-prefix</name>
                    </value>
                </entry>
                <entry>
                    <key>authorization-scheme</key>
                    <value>
                        <name>authorization-scheme</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-username</key>
                    <value>
                        <dependencies>
                            <dependentValues>BASIC</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>el-cs-username</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-password</key>
                    <value>
                        <dependencies>
                            <dependentValues>BASIC</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>el-cs-password</name>
                    </value>
                </entry>
                <entry>
                    <key>api-key-id</key>
                    <value>
                        <dependencies>
                            <dependentValues>API_KEY</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>api-key-id</name>
                    </value>
                </entry>
                <entry>
                    <key>api-key</key>
                    <value>
                        <dependencies>
                            <dependentValues>API_KEY</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>api-key</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-ssl-context-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>el-cs-ssl-context-service</name>
                    </value>
                </entry>
                <entry>
                    <key>proxy-configuration-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                        <name>proxy-configuration-service</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-connect-timeout</key>
                    <value>
                        <name>el-cs-connect-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-socket-timeout</key>
                    <value>
                        <name>el-cs-socket-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-retry-timeout</key>
                    <value>
                        <name>el-cs-retry-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-charset</key>
                    <value>
                        <name>el-cs-charset</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-suppress-nulls</key>
                    <value>
                        <name>el-cs-suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-enable-compression</key>
                    <value>
                        <name>el-cs-enable-compression</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-send-meta-header</key>
                    <value>
                        <name>el-cs-send-meta-header</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-strict-deprecation</key>
                    <value>
                        <name>el-cs-strict-deprecation</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-node-selector</key>
                    <value>
                        <name>el-cs-node-selector</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-sniff-cluster-nodes</key>
                    <value>
                        <name>el-cs-sniff-cluster-nodes</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-sniffer-interval</key>
                    <value>
                        <dependencies>
                            <dependentValues>true</dependentValues>
                            <propertyName>el-cs-sniff-cluster-nodes</propertyName>
                        </dependencies>
                        <name>el-cs-sniffer-interval</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-sniffer-request-timeout</key>
                    <value>
                        <dependencies>
                            <dependentValues>true</dependentValues>
                            <propertyName>el-cs-sniff-cluster-nodes</propertyName>
                        </dependencies>
                        <name>el-cs-sniffer-request-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-sniff-failure</key>
                    <value>
                        <dependencies>
                            <dependentValues>true</dependentValues>
                            <propertyName>el-cs-sniff-cluster-nodes</propertyName>
                        </dependencies>
                        <name>el-cs-sniff-failure</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-sniffer-failure-delay</key>
                    <value>
                        <dependencies>
                            <dependentValues>true</dependentValues>
                            <propertyName>el-cs-sniff-failure</propertyName>
                        </dependencies>
                        <name>el-cs-sniffer-failure-delay</name>
                    </value>
                </entry>
            </descriptors>
            <name>ElasticSearchClientServiceImpl</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>el-cs-http-hosts</key>
                    <value>http://elasticsearch:9200</value>
                </entry>
                <entry>
                    <key>el-cs-path-prefix</key>
                </entry>
                <entry>
                    <key>authorization-scheme</key>
                    <value>NONE</value>
                </entry>
                <entry>
                    <key>el-cs-username</key>
                </entry>
                <entry>
                    <key>el-cs-password</key>
                </entry>
                <entry>
                    <key>api-key-id</key>
                </entry>
                <entry>
                    <key>api-key</key>
                </entry>
                <entry>
                    <key>el-cs-ssl-context-service</key>
                </entry>
                <entry>
                    <key>proxy-configuration-service</key>
                </entry>
                <entry>
                    <key>el-cs-connect-timeout</key>
                    <value>5000</value>
                </entry>
                <entry>
                    <key>el-cs-socket-timeout</key>
                    <value>60000</value>
                </entry>
                <entry>
                    <key>el-cs-retry-timeout</key>
                    <value>60000</value>
                </entry>
                <entry>
                    <key>el-cs-charset</key>
                    <value>UTF-8</value>
                </entry>
                <entry>
                    <key>el-cs-suppress-nulls</key>
                    <value>always-suppress</value>
                </entry>
                <entry>
                    <key>el-cs-enable-compression</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>el-cs-send-meta-header</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>el-cs-strict-deprecation</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>el-cs-node-selector</key>
                    <value>ANY</value>
                </entry>
                <entry>
                    <key>el-cs-sniff-cluster-nodes</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>el-cs-sniffer-interval</key>
                    <value>5 mins</value>
                </entry>
                <entry>
                    <key>el-cs-sniffer-request-timeout</key>
                    <value>1 sec</value>
                </entry>
                <entry>
                    <key>el-cs-sniff-failure</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>el-cs-sniffer-failure-delay</key>
                    <value>1 min</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.elasticsearch.ElasticSearchClientServiceImpl</type>
        </controllerServices>
        <controllerServices>
            <id>b3806a8d-8470-33d7-0000-000000000000</id>
            <parentGroupId>ae981bf6-1b66-35c1-0000-000000000000</parentGroupId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.25.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <dependencies>
                            <dependentValues>gzip</dependentValues>
                            <propertyName>compression-format</propertyName>
                        </dependencies>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>b5b452cc-ccd9-371e-0000-000000000000</id>
            <parentGroupId>ae981bf6-1b66-35c1-0000-000000000000</parentGroupId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.25.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <dependencies>
                            <dependentValues>infer-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>
                        <name>starting-field-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>starting-field-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>schema-text-property</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>schema-application-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>Max String Length</key>
                    <value>
                        <name>Max String Length</name>
                    </value>
                </entry>
                <entry>
                    <key>Allow Comments</key>
                    <value>
                        <name>Allow Comments</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>ROOT_NODE</value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>SELECTED_PART</value>
                </entry>
                <entry>
                    <key>Max String Length</key>
                    <value>20 MB</value>
                </entry>
                <entry>
                    <key>Allow Comments</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <processors>
            <id>84409dd1-0859-357f-0000-000000000000</id>
            <parentGroupId>ae981bf6-1b66-35c1-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-kafka-2-6-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.25.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>
                            <name>bootstrap.servers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>
                            <name>topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic_type</key>
                        <value>
                            <name>topic_type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>group.id</key>
                        <value>
                            <name>group.id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>output-strategy</key>
                        <value>
                            <name>output-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>header-name-regex</key>
                        <value>
                            <dependencies>
<dependentValues>USE_VALUE</dependentValues>
<propertyName>output-strategy</propertyName>
                            </dependencies>
                            <name>header-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>
                            <dependencies>
<dependentValues>USE_VALUE</dependentValues>
<propertyName>output-strategy</propertyName>
                            </dependencies>
                            <name>key-attribute-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-format</key>
                        <value>
                            <dependencies>
<dependentValues>USE_WRAPPER</dependentValues>
<propertyName>output-strategy</propertyName>
                            </dependencies>
                            <name>key-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-record-reader</key>
                        <value>
                            <dependencies>
<dependentValues>record</dependentValues>
<propertyName>key-format</propertyName>
                            </dependencies>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>key-record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Commit Offsets</key>
                        <value>
                            <name>Commit Offsets</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-uncommit-offset-wait</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>Commit Offsets</propertyName>
                            </dependencies>
                            <name>max-uncommit-offset-wait</name>
                        </value>
                    </entry>
                    <entry>
                        <key>honor-transactions</key>
                        <value>
                            <name>honor-transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>
                            <name>security.protocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>
                            <name>sasl.mechanism</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.SelfContainedKerberosUserService</identifiesControllerService>
                            <name>kerberos-user-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                        <value>
                            <name>sasl.kerberos.service.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                        <value>
                            <name>sasl.kerberos.principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                        <value>
                            <name>sasl.kerberos.keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                        <value>
                            <dependencies>
<dependentValues>PLAIN</dependentValues>
<dependentValues>SCRAM-SHA-512</dependentValues>
<dependentValues>SCRAM-SHA-256</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>sasl.username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                        <value>
                            <dependencies>
<dependentValues>PLAIN</dependentValues>
<dependentValues>SCRAM-SHA-512</dependentValues>
<dependentValues>SCRAM-SHA-256</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>sasl.password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>
                            <dependencies>
<dependentValues>SCRAM-SHA-512</dependentValues>
<dependentValues>SCRAM-SHA-256</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>sasl.token.auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>aws.profile.name</key>
                        <value>
                            <dependencies>
<dependentValues>AWS_MSK_IAM</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>aws.profile.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl.context.service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>separate-by-key</key>
                        <value>
                            <name>separate-by-key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>auto.offset.reset</key>
                        <value>
                            <name>auto.offset.reset</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>
                            <name>message-header-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.poll.records</key>
                        <value>
                            <name>max.poll.records</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>kafka:9094</value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>logs</value>
                    </entry>
                    <entry>
                        <key>topic_type</key>
                        <value>names</value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>b5b452cc-ccd9-371e-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>b3806a8d-8470-33d7-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>group.id</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>output-strategy</key>
                        <value>USE_VALUE</value>
                    </entry>
                    <entry>
                        <key>header-name-regex</key>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>utf-8</value>
                    </entry>
                    <entry>
                        <key>key-format</key>
                        <value>byte-array</value>
                    </entry>
                    <entry>
                        <key>key-record-reader</key>
                    </entry>
                    <entry>
                        <key>Commit Offsets</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>max-uncommit-offset-wait</key>
                        <value>1 secs</value>
                    </entry>
                    <entry>
                        <key>honor-transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>PLAINTEXT</value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>GSSAPI</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>aws.profile.name</key>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                    </entry>
                    <entry>
                        <key>separate-by-key</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>auto.offset.reset</key>
                        <value>latest</value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>max.poll.records</key>
                        <value>10000</value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>60 secs</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConsumeKafkaRecord_2_6</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>parse.failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_6</type>
        </processors>
        <processors>
            <id>a43cfebb-2fee-3fb8-0000-000000000000</id>
            <parentGroupId>ae981bf6-1b66-35c1-0000-000000000000</parentGroupId>
            <position>
                <x>16.0</x>
                <y>272.0</y>
            </position>
            <bundle>
                <artifact>nifi-elasticsearch-restapi-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.25.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>put-es-record-index-op</key>
                        <value>
                            <name>put-es-record-index-op</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-fetch-index</key>
                        <value>
                            <name>el-rest-fetch-index</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-type</key>
                        <value>
                            <name>el-rest-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp</key>
                        <value>
                            <name>put-es-record-at-timestamp</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-client-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.elasticsearch.ElasticSearchClientService</identifiesControllerService>
                            <name>el-rest-client-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>put-es-record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-batch-size</key>
                        <value>
                            <name>put-es-record-batch-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-id-path</key>
                        <value>
                            <name>put-es-record-id-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-retain-id-field</key>
                        <value>
                            <dependencies>
<propertyName>put-es-record-id-path</propertyName>
                            </dependencies>
                            <name>put-es-record-retain-id-field</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-index-op-path</key>
                        <value>
                            <name>put-es-record-index-op-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-index-record-path</key>
                        <value>
                            <name>put-es-record-index-record-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-type-record-path</key>
                        <value>
                            <name>put-es-record-type-record-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-path</key>
                        <value>
                            <name>put-es-record-at-timestamp-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-retain-at-timestamp-field</key>
                        <value>
                            <dependencies>
<propertyName>put-es-record-at-timestamp-path</propertyName>
                            </dependencies>
                            <name>put-es-record-retain-at-timestamp-field</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-script-path</key>
                        <value>
                            <name>put-es-record-script-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-scripted-upsert-path</key>
                        <value>
                            <name>put-es-record-scripted-upsert-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-dynamic-templates-path</key>
                        <value>
                            <name>put-es-record-dynamic-templates-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-date-format</key>
                        <value>
                            <name>put-es-record-at-timestamp-date-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-time-format</key>
                        <value>
                            <name>put-es-record-at-timestamp-time-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-timestamp-format</key>
                        <value>
                            <name>put-es-record-at-timestamp-timestamp-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-log-error-responses</key>
                        <value>
                            <name>put-es-record-log-error-responses</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-output-error-responses</key>
                        <value>
                            <name>put-es-output-error-responses</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-error-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>put-es-record-error-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-not_found-is-error</key>
                        <value>
                            <dependencies>
<propertyName>put-es-record-error-writer</propertyName>
                            </dependencies>
                            <name>put-es-record-not_found-is-error</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-bulk-error-groups</key>
                        <value>
                            <dependencies>
<propertyName>put-es-record-error-writer</propertyName>
                            </dependencies>
                            <name>put-es-record-bulk-error-groups</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>put-es-record-index-op</key>
                        <value>index</value>
                    </entry>
                    <entry>
                        <key>el-rest-fetch-index</key>
                        <value>log_level</value>
                    </entry>
                    <entry>
                        <key>el-rest-type</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp</key>
                        <value>${timestamp}</value>
                    </entry>
                    <entry>
                        <key>el-rest-client-service</key>
                        <value>7cef9051-d1ae-30b6-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>put-es-record-reader</key>
                        <value>b5b452cc-ccd9-371e-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>put-es-record-batch-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>put-es-record-id-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-retain-id-field</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-es-record-index-op-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-index-record-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-type-record-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-retain-at-timestamp-field</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-es-record-script-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-scripted-upsert-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-dynamic-templates-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-date-format</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-time-format</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-timestamp-format</key>
                    </entry>
                    <entry>
                        <key>put-es-record-log-error-responses</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-es-output-error-responses</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-es-record-error-writer</key>
                        <value>b3806a8d-8470-33d7-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>put-es-record-not_found-is-error</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>put-es-record-bulk-error-groups</key>
                        <value>false</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutElasticsearchRecord</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>errors</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>successful_records</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchRecord</type>
        </processors>
    </snippet>
    <timestamp>04/02/2024 14:13:57 UTC</timestamp>
</template>
